<div class="padded_content">
  <div class="faq_title stat_accent">
    What is CS:GO Tracker?
  </div>

  <p>CS:GO Tracker is a project I started up in my free time.  The idea is to be able to track various stats over time to gauge your personal performance and to answer questions like, "Have I been getting better?", or "How did I do last week?".  It turns out the CS:GO API is severely limited so I had to cut back the scale of the project to some very basic stats tracking but I'm still pleased to present to you the resulting tool.  If you'd like to see more functionality, please email me and I can see what I can do (also try contacting Valve to see if they can fix up the CS:GO API).</p>


  <div class="faq_title stat_accent">
    Can I view my competitive stats separately from my casual stats?
  </div>

  <p>Steam has decided to not provide competitive only stats.  Therefore it is not possible to show just your competitive stats.  There are ways around that though but they require better hosting hardware and will take some time to develop, both of which I am lacking.  However, email if you would be interested and if there is demand I can see about creating a paid service or ad supported competitive stats.</p>

  <div class="faq_title stat_accent">
    Why are my last match stats not accurate?
  </div>

  <p>Steam has decided to include the warmup round stats into the last match results in the API. Unfortunately there is no way to remove the warmup round kills and deaths from the last match stats.</p>

  <div class="faq_title stat_accent">
    Can I view the m4A1 and M4A1-S separately?
  </div>

  <p>You cannot view the stats for guns that occupy the same inventory slot separately.  Once again, this is a limitation of the CSGO API.</p>

  <div class="faq_title stat_accent">
    Why do I not have any stats for the operation maps?
  </div>

  <p>The CS:GO API does not provide stats for the newer maps.</p>

  <div class="faq_title stat_accent">
    What do I do if I find a bug or if one my stats are blatantly wrong?
  </div>

  <p>Please send me an <a href="mailto:contact@csgo-tracker.com?Subject=CSGO%20Tracker%20Contact" target="_top" class="white">email</a> detailing the bug.</p>
</div>