<%= render layout: "stats_section", locals: { player: @player, title: "Maps", toggle: "#maps_table" } do  %>
<div id="top_maps_table"></div>
<div id="maps_table" style="display: none;"></div>
<br class="clear" />
<div class="weapon_container" id="map_stat_skeleton" style="display: none;">
  <div class="weapon_title">
    <div class="list_numbering number"></div>
    <div class="stat_name"></div>
  </div>
  <table class="stats_table">
  </table>
</div>
<% end %>