<%= render layout: "stats_section", locals: { player: @player, title: "Performance", dom_id: "performance_header" } do  %>
  <div class="chart_container left">
    <div id="win_loss_chart" class="wide_chart"><div class="loader medium"><%= image_tag "yellow_loader_64.GIF" %></div></div>
  </div>
  <div class="chart_right">
    <div class="centered_title">Wins and Losses</div>
    <table class="stats_table">
      <tr><td class="stat_title">Match Wins</td><td class="stat stat_accent" id="match_wins"></td></tr>
      <tr><td class="stat_title">Match Losses</td><td class="stat stat_accent" id="match_losses"></td></tr>
      <tr><td class="stat_title">Round Wins</td><td class="stat stat_accent" id="round_wins"></td></tr>
      <tr><td class="stat_title">Round Losses</td><td class="stat stat_accent" id="round_losses"></td></tr>
    </table>
  </div>
  <br class="clear" />

  <div class="chart_container left">
    <div id="kd_chart" class="wide_chart"><div class="loader medium"><%= image_tag "yellow_loader_64.GIF" %></div></div>
  </div>
  <div class="chart_right">
    <div class="centered_title">Performance</div>
    <table class="stats_table">
      <tr><td class="stat_title">Kills</td><td class="stat stat_accent" id="total_kills"></td></tr>
      <tr><td class="stat_title">Deaths</td><td class="stat stat_accent" id="total_deaths"></td></tr>
      <tr><td class="stat_title">K/D</td><td class="stat stat_accent" id="total_kd"></td></tr>
      <tr><td class="stat_title">Accuracy</td><td class="stat stat_accent" id="total_accuracy"></td></tr>
    </table>
  </div>
  <br class="clear" />
<% end %>