<%= render layout: "stats_section", locals: { player: @player, title: "Performance" } do  %>
	<div class="chart_container">
		<div id="win_loss_chart"><div class="loader medium"><%= image_tag "yellow_loader_64.GIF" %></div></div>
	</div>
	<br class="clear" />
<% end %>