<%= render layout: "stats_section", locals: { player: @player, title: "Weapons (Top 5)" } do  %>
<div id="weapons_table">
</div>
<br class="clear" />
<div class="weapon_container" id="weapon_stat_skeleton" style="display: none;">
  <div class="weapon_title">
    <div class="stat_data list_numbering number"></div>
    <div class="stat_data name"></div>
  </div>
  <table class="stats_table">
  </table>
</div>
<% end %>