<%= render layout: "stats_section", locals: { player: @player, title: "Weapons", toggle: "#weapons_table" } do  %>
<div id="top_weapons_table"></div>
<div id="weapons_table" style="display: none;"></div>
<br class="clear" />
<div class="weapon_container" id="weapon_stat_skeleton" style="display: none;">
  <div class="weapon_title">
    <div class="list_numbering number"></div>
    <div class="stat_name"></div>
  </div>
  <table class="stats_table">
  </table>
</div>
<% end %>