<%= render layout: "stats_section", locals: { player: @player, title: "Weapons (Top 5)" } do  %>
<div id="weapons_list" class="stats_table">
    <table>
      <% (0..4).each do |i| %>
      <tr>
      <td class="list_numbering"><%= i + 1 %></td>
      <td id="weapon_<%=i%>" class="stat_data list_left"></td>
      <td id="weapon_kills_<%=i%>" class="stat_data stat_accent list_right"></td>
      </tr>
      <% end %>
    </table>
</div>
<% end %>