$chart_background: #292929;

#weapon_chart {
  width: 700px;
  height: 300px;
  float: left;
  &.loaded {
    background: #3f3f4f;
    color:#ffffff;
  }
}

.wide_chart {
  width: 700px;
  height: 150px;
  float: left;
  background: $chart_background;
  &.loaded {
    color:#ffffff;
  }
}


.failure {
  color: red;
}

.loader {
  &.medium {
    width: 64px;
    height: 64px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
  }
}

.chart_right {
  width: 300px;
  height: 150px;
  float: left;
  position: relative;
}

.chart_stats {
  position: absolute;
  bottom: 20px;
}