$section-header-color: #444444;

.player_info {
  width: 100%;
  height: 110px;

  .profile_image {
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
  }

  .player_name {
    float: left;
  }

  .detail_right {
    float: right;
    margin: 15px 10px 0px 0px;
    color: #AAAAAA;
  }
}

.section_content {
  width: 100%;
}

.header_large {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.header_medium {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

.small_subheader {
  font-size: 15px;
  margin-top: -5px;
}

.medium_subheader {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.disabled {
  color: #AAAAAA;
}

.group {
  margin-bottom: 5px;
}

.online {
  color: #86b5d9;
}

.in_game {
  color: #8bc53f;
}

.offline {
  color: #898989;
}

.stats_table {
  
}

.weapon_names {
  float: left;
  width: 270px;
  margin-left: 10px;
}

.small_name {
  font-size: 13px;
  margin-right: 5px;
  font-family: 'Open Sans', sans-serif;
}

.list_left {
  width: 200px;
}

.section_header {
  width: 100%;
  background-color: $section-header-color;
}

.header_text {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 3px 0px 3px 10px;
}

.clear {
  clear: both;
}

.left {
  float: left;
}
