$stats-accent-color: #CF5300;
$weapon-title-background: #292929;

.operation_content {
	float: left;
}

.basic_stats {
  float: left;
  padding: 0 0 0 15px;
  width: 585px;
}

.last_match_stats {
  float: left;
  width: 380px;
  padding:10px;
  background-color: #292929;
}

.centered_title {
  text-align: center;
}

.stats_table {
  width: 100%;

  .stat_title {
    text-align: left;
  }

  .stat {
    text-align: right;
  }
}

.stats_table_large {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;

  .pad_right {
    padding-right: 30px;
  }

  .stat_title {
    font-size: 22px;
  }
}

.stat_header {
  font-color: gray;
  width: 100px;
  text-align: right;
  vertical-align: bottom;
}

.stat_data {
  padding-right: 20px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

.stat_name {
  padding-right: 20px;
  padding-left: 10px;
}

.stat_accent {
  color: $stats-accent-color;
}

.list_numbering {
  color: #999;
  text-align: left;
  float: left;
  padding-right: 20px;
  padding-left: 10px;
}

.last_match_stats_container {
  width:300px;
  float: left;
}

.weapon_container {
  width: 180px;
  margin: 10px;
  float: left;

  .weapon_title {
    width: 100%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: $weapon-title-background;
  }
}

.operation_container {
  width: 313px;
  margin: 10px;
  float: left;

  .operation_title {
    width: 100%;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    background-color: $weapon-title-background;
    padding-left: 5px;
  }
}