#main {
    margin-top: 50px;
    position: relative;
    padding: 0;
}
.ui-tabs-nav {
    background-color: #313131 !important; /*To overwrite jquery-ui.css*/
    height: 30px;                        /*To stop nav block scaling of tab size*/
}

.ui-tabs {
  padding: 0px;
  border: none;
  background: none;
}

.ui-widget-content {
  color: white;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .5em .0em 0;
    border: none;
    border-radius: 0px; /*To affect only top corners*/
}

.ui-tabs .ui-tabs-nav li {
    position: relative;    /*To overwrite jquery-ui.css*/
    top: -9px !important;  /*To overwrite jquery-ui.css*/
    border: none;
    margin: 0 0 -5px 0;
    background: none;
}
.ui-tabs-anchor{
    color: white !important;                  /*To overwrite jquery-ui.css*/
    text-decoration: none !important;    /*To overwrite jquery-ui.css*/
    padding: .45em 1em !important;
}
ul.ui-widget-header, ul.ui-widget-content, ul.ui-state-default, ul.ui-state-hover {
    background-image: none;
    border: none
}

.ui-tabs-active a {
   -moz-border-bottom-colors: none;
   -moz-border-left-colors: none;
   -moz-border-right-colors: none;
   -moz-border-top-colors: none;
   background-color: #414141;        /*To make it looks like on example pic, it is possible do do with it whatever you want*/
   border: none;    /*To affect only top corners*/
   position: relative;
   z-index: 5;
   color: #FFFFFF !important;             /*To overwrite jquery-ui.css*/
   text-decoration: none !important;     /*To overwrite jquery-ui.css*/
}

.ui-corner-all {
  border-radius: 0px;
}

a:focus{                                /*To handle that annoing border(chrome) when item is in focus*/
 outline: none;   
}